
  <div class="container">
    <div class="row">

      <%= render :partial => "sidebar" %>

      <div class="col-xs-9">
        <h2>Users</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>image</th>
              <th>name</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= attachment_image_tag @user, :profile_image, :fill, 30, 30, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg", size:'30x30' %></td>
                <td><%= user.name %></td>
                <td><%= link_to 'Show', user %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<br>
